button {
  cursor: pointer;
  outline: none;
}
a {
  outline: none;
}
.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-image-lg {
  display: none;
}
.login-container {
  width: 85%;
}
.login-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}
.login-website-logo {
  width: 78px;
  margin-bottom: 10px;
}
.login-website-title {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 24px;
  color: #262626;
  margin-top: 0px;
}
.login-label {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 12px;
  color: #262626;
}
.login-input {
  width: 100%;
  font-family: 'Roboto';
  font-size: 15px;
  color: #262626;
  /* background: #eeeeee; */
  border-radius: 2px;
  border: 0px;
  height: 40px;
  padding-left: 16px;
  outline: none;
  margin-top: 6px;
}
#username {
  margin-bottom: 20px;
}
.login-error-msg {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  color: #ef4444;
  margin-top: 6px;
}
.login-button {
  width: 100%;
  height: 40px;
  border: 0px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background: #4094ef;
  border-radius: 8px;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .login-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .login-image-lg {
    display: block;
    width: 50%;
    max-width: 582px;
  }
  .login-card {
    padding: 40px 30px 40px 30px;
    box-shadow: 0px 3px 10px rgba(7, 7, 7, 0.1);
    max-width: 45%;
  }
  .login-website-logo {
    width: 60px;
  }
  .login-website-title {
    font-size: 20px;
  }
  .login-input {
    height: 30px;
  }
  .login-button {
    height: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .login-container {
    width: 80%;
  }
}

.show-password-container {
  display: flex;
  align-items: center;
}
.show-password {
  font-size: 15px;
  margin-left: 5px;
}
/* .password-container {
  display: flex;
  align-items: center;
  height: 28px;
  background-color: #d3e0ebf1;
}
.password-input {
  border-width: 0px;
  outline: none;
} */
